*.ll
*.bc
*.mod
*npbparams.h
*blk_par.h
*setparams
*.bak
*profiling
*.json
*clusters*
*m5_fs*
*dat.0*
DC/ADC.view.sz.0
DC/ADC.logf.0.0
*basicBlockInfo.txt
*profiler_output.txt
run_all_10_papi_point.sh
run_script.sh
BT/papi/
CG/papi/
EP/papi/
FT/papi/
IS/papi/
LU/papi/
MG/papi/
SP/papi/
UA/papi/
DC/papi/

